# base
HOST=localhost
PORT=4000
NODE_ENV=development
APP_STATE=1

# frontend
FRONTEND_URL=http://localhost:3000

# logging
LOG_FILE=log/log.txt

# chains
## cardano
### network
CARDANO_NETWORK="preprod"
CARDANO_ADMIN_PRIVATE_KEY=

### blockfrost
BLOCKFROST_BASE_URL=https://cardano-preprod.blockfrost.io/api/v0
BLOCKFROST_PROJECT_ID=

### koios
KOIOS_SECRET_TOKEN=

## garnet
EVM_CHAIN_RPC=https://rpc.garnetchain.com
EVM_CHAIN_WSS=wss://rpc.garnetchain.com
EVM_ADMIN_PRIVATE_KEY=
EVM_DEVELOPMENT_MNEMONIC=